{
  "presets": ["@babel/preset-env"],
  "env": {
    "production": {
      "presets":[
        [
          "@babel/present-env",
          {
            "targets" : ">0.25%, not dead"
          }
        ]
      ]
    }
  }
}
